.modal-content {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #757575;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    min-width: 100px;
  }